<section class="hero is-white is-halfheight">
  <div class="hero-head">
    <div class="container">
    </div>
  </div>

  <div class="hero-body">
    <div class="container">
      <div class="columns is-5-tablet is-4-desktop is-3-widescreen">
        <div class="column">
          <div class="field is-horizontal">
          <h1 class="title">
            Encaissement
          </h1>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal"><label class="label">Raison</label></div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select>
                      <option>Business development</option>
                      <option>Marketing</option>
                      <option>Sales</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal"><label class="label">Montant</label></div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-danger" type="number" placeholder="Exemple 1000">
                  <span class="icon is-small is-left"><i class="fa fa-euro"></i></span>
                  <span class="icon is-small is-right"><i class="fa fa-check"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Note</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea class="textarea" placeholder="Laisser une note"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-primary" (click)="cashIn($event)">
                    Encaisser
                  </button>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>

</section>
