<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Maintained by <a href="mailto:ahmed.elidrissi.attach@gmail.com"> Moulay Ahmed EL IDRISSI ATTACH</a>
      </p>
    </div>
  </div>
</footer>
