<app-common-header></app-common-header>

<div class="container">
  <div class="columns">
    <div class="column is-3 " *showIfLoggedIn="true">
      <app-common-left-menu></app-common-left-menu>
    </div>

    <div class="column is-9" [ngClass]="isAuthenticated ? 'is-9' : 'is-12'">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
