<nav class="navbar is-white">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item brand-text" href="../">
        Cashier
      </a>
      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/logout" *showIfLoggedIn="true">Déconnexion</a>
        <a class="navbar-item" routerLink="" *showIfLoggedIn="false">Connexion</a>
        <a class="navbar-item" routerLink="/dashboard" routerLinkActive="is-active" *showIfLoggedIn="true">Tableau de bord</a>
      </div>

    </div>
  </div>
</nav>
