<section class="hero is-info welcome is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" *ngIf="user$ | async as user">
        {{ user.name }}
      </h1>
      <h2 class="subtitle">
        Aperçu de votre compte
      </h2>
    </div>
  </div>
</section>

<section class="info-tiles">
  <div class="tile is-ancestor has-text-centered">

    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">10000 &euro;</p>
        <p class="subtitle">Courent du compte</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">59k &euro;</p>
        <p class="subtitle">Mouvements à venir</p>
      </article>
    </div>

  </div>
</section>

<section class="info-tiles" *ngIf="false">
  <div class="tile is-ancestor has-text-centered">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHoveredBar($event)"
                (chartClick)="chartClickedBar($event)">
        </canvas>
      </article>
    </div>

  </div>
</section>

<section>
  <div class="columns" *ngIf="false">
    <div class="column is-6">

      <div class="card events-card">
        <header class="card-header">
          <p class="card-header-title">
            Dernières opérations
          </p>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
          </a>
        </header>
        <div class="card-table">
          <div class="content">
            <table class="table is-fullwidth is-striped">
              <tbody>
              <tr>
                <td width="5%"><i class="fa fa-bell-o"></i></td>
                <td>+100 &euro;</td>
                <td>Cotisation Famille</td>
                <td><a class="button is-small is-primary" href="#">Action</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item">Plus de mouvements</a>
        </footer>
      </div>
    </div>

    <div class="column is-6">

      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Derniers rapports
          </p>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
          </a>
        </header>
        <div class="card-content">
          <div class="content">
            derniers rapports
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
