<aside class="menu is-hidden-mobile">
  <p class="menu-label">Général</p>
  <ul class="menu-list">
    <li *ngIf="false"><a>Compte</a></li>
    <li><a class="navbar-item" routerLink="/dashboard" routerLinkActive="is-active">Tableau de bord</a></li>
  </ul>

  <p class="menu-label">Opérations</p>
  <ul class="menu-list">
    <li *ngIf="false"><a>Consulter les opérations</a></li>
    <li><a class="navbar-item" routerLink="/cash-in" routerLinkActive="is-active">Encaissement</a></li>
    <li><a>Décaissement</a></li>
  </ul>

  <p class="menu-label" *ngIf="false">Rapports</p>
  <ul class="menu-list" *ngIf="false">
    <li><a>Dernières opérations</a></li>
  </ul>
</aside>
